# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/cmake-build-debug
/.idea
/project
/bin/config.json
/bin/shaders
/bin/release/*.pdb
/bin/debug/*.pdb
bin/debug/imgui.ini
bin/release/imgui.ini
*.glb
